


 <!-- <div>
  <div class="card-container">
    <div class="card" *ngFor="let row of Rows; let i = index ">
      <div class="row card2" *ngFor="let item of row">
        <div class="card-wrapper-img">
          <img class="card-img" width="80" height="80" src="{{item.imagePath}}" alt="">
        </div>
      
        <p>
          <strong>{{item.name}}</strong> / {{item.code}}
        </p>
      </div>
    </div>
  </div>
</div>  -->


<section class="container">
<div class="row" *ngFor="let row of Rows; let i = index">
<div class="card-wrapper" >
  <div class="card" *ngFor="let item of row">
    <img class="card-img-top" src="{{item.imagePath}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.code}}</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>


</div>
</section>





<router-outlet></router-outlet>